<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiliansteenman.teller.logger">

    <application>

        <activity
            android:name="com.kiliansteenman.teller.logger.ui.TellerLogActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.kiliansteenman.teller.task"
            android:theme="@style/TellerTheme" />

        <activity
            android:name="com.kiliansteenman.teller.logger.ui.detail.TellerDetailActivity"
            android:exported="false"
            android:theme="@style/TellerTheme" />

        <receiver
            android:name="com.kiliansteenman.teller.logger.ClearLogActionBroadcastReceiver"
            android:exported="false" />

        <service
            android:name="com.kiliansteenman.teller.logger.service.ClearLogService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>
