<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiliansteenman.teller.logger">

    <application>

        <activity
            android:name="com.kiliansteenman.teller.logger.ui.TellerLogActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.kiliansteenman.beancounter.task"
            android:theme="@style/TellerTheme" />

        <activity
            android:name="com.kiliansteenman.teller.logger.ui.detail.TellerDetailActivity"
            android:theme="@style/TellerTheme" />

    </application>

</manifest>
